.WelcomePage {
    
  }
  .banner {
    height: 100vh;
    width: 100%;
    
   
    position: relative;
  }
  .banner  img {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .banner-cont {
    width: 100%;
    min-height: 50%;
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.168);
    backdrop-filter: saturate(180%) blur(10px);
    top: 50%;
    animation: drop-inn 1s;
  }
  @keyframes drop-inn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .b-cont1 {
    min-width: 400px;
    height: 100%;
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
  .b-cont1  h1 {
    text-align: center;
    color: #e54750;
    text-shadow: 0 2px 2px #000;
    animation: drop 2s ease 200ms backwards;
    font-weight: 300;
    font-size: 90px;
  }
  .b-cont1  p {
    font-size: 18px;
    color: #000;
    font-weight: 600;
    text-align: justify;
    position: absolute;
    animation: drop 3s ease 200ms backwards;
  }
  @keyframes drop {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translate(0px);
    }
  }
  .bann-btn {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .bann-btn  .btn1 {
    border: none;
    color: #e54750;
    border: 2px #c6c6c6 solid;
    padding: 10px 15px;
  }
  
  